html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  color: #222;
}
/* Typography */

h1 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 900;
}

h2 {
  margin-top: 0;
}

h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

p {
  font-size: 18px;
  line-height: 20px;
}
ul {
  list-style: none;
  padding: 5px 0 0 0;
}

li {
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 22px;
}

.li-green {
  background-color: #e5fdea;
}
.li-yello {
  background-color: #fcfdd6;
}
.li-blue {
  background-color: #e5f9fe;
}
.li-pink {
  background-color: #fcf1fe;
}

/* layout */

img {
  width: 100%;
}

main {
  width: 400px;
  margin: 0 auto;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 420px;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 2px #666;
  background-color: #212529;
  color: whitesmoke;
}

.modal-inner {
  width: 200px;
  margin: 0 auto;
}

.modal-inner-loading {
  text-align: center;
}

/* modal buttons */
.close-modal-btn-container {
  text-align: right;
  margin: 9px;
}

.modal-close-btn {
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid transparent;
  color: whitesmoke;
}

.modal-close-btn:hover,
.modal-close-btn:active {
  color: red;
  cursor: pointer;
}

.modal-close-btn:disabled {
  color: whitesmoke;
  opacity: 0.2;
  cursor: not-allowed;
}

.modal-choice-btns {
  margin-top: 10px;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
}

.modal-btn {
  padding: 10px 24px;
  cursor: pointer;
}

/* modal input */

input {
  margin-top: 10px;
  border: 1px solid #212529;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
}

/* modal after submit */
.loading {
  width: 100%;
  margin-top: 10px;
}

.modal-display-name {
  color: fuchsia;
}

.modal-text {
  height: 140px;
  line-height: 23px;
  margin-bottom: 0;
}
